services:
  postgres:
    image: postgres:14
    container_name: soundflow-pg
    env_file: .env
    ports:
      - "5432:5432"
    volumes:
      - pgdata:/var/lib/postgresql/data
      - ./sql:/docker-entrypoint-initdb.d/
    networks:
      - metanet1
    restart: on-failure

  metabase:
    image: metabase/metabase:latest
    container_name: soundflow-metabase
    hostname: metabase
    env_file: .env
    ports:
      - "3000:3000"
    depends_on:
      - postgres
    networks:
      - metanet1
    healthcheck:
      test: ["CMD", "curl", "--fail", "-I", "http://localhost:3000/api/health"]
      interval: 15s
      timeout: 5s
      retries: 5

networks:
  metanet1:
    driver: bridge

volumes:
  pgdata:
